# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# SQLite
*.db

# Streamlit
.streamlit/

# Environment
.env

# Backup Files
*.backup
# pdf files
*.Resume_Report.pdf

# OS Files
.DS_Store
Thumbs.db