# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# SQLite
*.db

# Streamlit
.streamlit/

# Environment
.env

# Backup Files
*.backup

# Generated PDF report
Resume_Report.pdf

# Sample resumes
resumes/

# OS Files
.DS_Store
Thumbs.db